<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WEIHAI</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

</head>

<body>
    <div class=" grid-container">
        <div class="grid-item">
            <section>
                <input type="text" name="name" class="data-input name" value="" placeholder="姓名" required="" maxlength="100">
            </section>
            <section>
                <input type="text" name="email" class="data-input email" value="" placeholder="邮箱" required="" maxlength="100">
            </section>
            <section>
                <input type="text" name="subject" class="data-input subject" value="" placeholder="主题" required="" maxlength="100">
            </section>
        </div>
        <div class="grid-item">

            <section>
                <textarea class="data-input message" placeholder="内容" required=""></textarea>
            </section>
        </div>

        <select id="language-select" onchange="languageSelect(this)">
            <option value ="chinese">中文</option>
            <option value ="english">English</option>
          </select>
    </div>

    <button class="button">发送邮件</button>
</body>
<script>
</script>
<script src="javascripts/email.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/language.js"></script>



</html>